/* 1. NẠP LÕI TAILWIND CSS VÀO DỰ ÁN */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. CUSTOM THANH CUỘN (SCROLLBAR) KIỂU TERMINAL */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(250, 204, 21, 0.4); /* Chuyển màu vàng mờ khi di chuột vào */
}

/* Đảm bảo nền mượt mà */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}